body {
  background-color: white;
  font-family: sans-serif;  
  padding: 20px;
  font-size: 15px;
}

h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 5px;
  color: rgb(255, 0, 0);
}

h2 {
  font-size: 30px;
  color: rgb(255, 0, 0);
  margin-top: -1px;
}
p{
  margin-top: -5px;
  font-size: 14px;
}

.streeming {
  font-size: 20px;
  margin-top: -5px;
}

h1, h2, p {
  text-align: center;
}

.menu {
  width: 80%;
  background-color: rgb(144, 169, 123);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
}

hr {
  height: 2px;
  background-color: brown;
  border-color: brown;
}

h1, h2 {
  font-family: serif;
}

.item p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}

.one{
  text-align: left;
  width: 75%;
}

.two {
  text-align: right;
  width: 25%;
}
.buy{
  font-size: 20px;
  color: rgb(89, 9, 56);
}
.buy:visited{
color: rgb(98, 7, 75);
}
.buy:hover{
  color: rgb(237, 5, 86);
}
/* FOOTER */

footer {
  font-size: 14px;
}


a {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: brown;
}

a:active {
  color: brown;
}
